.px81{
font-size: 81px !important;
}

.px90{
    font-size: 90px !important;
}

.px38{
    font-size: 38px !important;
}

.px40{
    font-size: 40px !important;
}

.px20{
    font-size: 20px !important;
}

.px112{
    font-size: 112px !important;
}