.rama_sb{
    font-family: "Rama Slab M";
    font-weight: 700;

}

.rama_b{
    font-family: "Rama Slab M";
    font-weight: bold;
}

.rama_r{
    font-family: "Rama Slab M";
    font-weight: 500;
}

.rama_l{
    font-family: "Rama Slab M";
    font-weight: 400;
}

.rama_er{
    font-family: "Rama Slab E";
    font-weight: 500;
}