@font-face {
  font-family: 'Rama Slab M';
  src: url('../fonts/Rama\ Slab\ M\ W03\ Bold.ttf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Rama Slab M';
  src: url('../fonts/Rama\ Slab\ M\ W03\ SemiBold.ttf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Rama Slab M';
  src: url('../fonts/Rama\ Slab\ M\ W03\ Regular.ttf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Rama Slab M';
  src: url('../fonts/Rama\ Slab\ M\ W03\ Light.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Rama Slab E';
  src: url('../fonts/Rama\ Slab\ E\ W01\ Regular.ttf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Regular.ttf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Regular.ttf') format('opentype');
  font-weight: 500;
}


.rama_bold{
  font-family: 'Rama Slab M';
  font-weight: bold;
}

.rama_semibold{
font-family: 'Rama Slab M';
  font-weight: 600;
}

.rama_regular{
font-family: 'Rama Slab M';
  font-weight: 500;
}

.rama_light{
font-family: 'Rama Slab M';
  font-weight: 400;
}

.element_border {
  width: 1200px;
  margin: auto;
  align-content: center;
}

body {
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .element_border {
    width: 95.5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .element_border {
    width: 82.5%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .element_border {
    width: 92.5%;
  }
}

@media (max-width: 480px) {
  .element_border {
    width: 92.5%;
  }
}