.footer_section {
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 410px;
  position: relative;
}

.footer_section_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  letter-spacing: 0.8px;
  color: #004470;
}
.footer_section_1 a {
  line-height: 60px;
}

.footer_section_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer_section_3 h2 {
  width: 240px;
  letter-spacing: 0px;
}

.footer_section_2 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer_section_2 img {
  position: absolute;
  transform: translateY(2.28rem);
}

.copyright {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.copyright .cp1 {
  margin-left: 0;
  margin-right: auto;
  width: 33.33%;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}
.copyright .cp2 {
  margin-inline: auto;
  width: 33.33%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.copyright .cp3 {
  margin-left: auto;
  margin-right: 0;
  width: 33.33%;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}
.copyright .cp3 a {
  color: #ffffff;
}

.copyright_img {
  height: 90px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.footer_bg {
  height: 430px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1200px) {
  .footer_section {
    flex-direction: column;
    height: 909px;
    justify-content: flex-start;
  }
  .footer_section .footer_section_1 {
    padding: 2rem;
  }
  .footer_section .footer_section_2 {
    transform: translateY(503px);
  }
  .footer_section .footer_section_3 {
    height: 494px;
    transform: translateY(-149px);
  }
  .footer_bg {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    z-index: -1;
    height: 914px;
  }
}
@media (min-width: 500px) and (max-width: 876px) {
  .copyright h2 {
    font-size: calc(25px + 15 * (100vw - 300px) / 1620) !important;
  }
}
@media (max-width: 600px) {
  .footer_section_3 img {
    width: 250px;
  }
  .copyright {
    flex-direction: column;
  }
  .copyright .cp1 {
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    margin-inline: auto;
  }
  .copyright .cp2 {
    padding-top: 1rem;
    margin-inline: auto;
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .copyright .cp3 {
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-inline: auto;
  }
  .copyright .cp3 a {
    color: #ffffff;
  }
  .copyright_img {
    height: 214px;
  }
}
@media (max-width: 500px) {
  .footer_section_2 {
    transform: translateY(584px) !important;
  }
  .footer_section_2 img {
    transform: scale(0.7);
  }
}/*# sourceMappingURL=footer.css.map */