.texto{
  width: 641px;
height: 140px;
text-align: left;
font-size: 20px;
line-height: 35px;
font-weight: 400;
font-family: 'Helvetica Now Display';
letter-spacing: 0px;
color: #FFFFFF;
}

@media (max-width:1250px) {
  .shies{
    flex-direction: column !important;
    margin-inline: auto;
    img{
      width: 300px !important;
      margin-left: 0rem !important;
      position: relative !important;
      margin-inline: auto;
    } 
    h2{
      text-align: center !important;
    }

    h3{
      text-align: center !important;
    }

    p{
      width: 100% !important;
      text-align: center;
    }
  }

  .jkimg{
    padding-left: 0rem !important;
    margin-inline: auto;
  }

  .shiies2{
    padding-left: 0rem !important;
    p{
      height: 100% !important;
      width: 100% !important;
    }
  }

  .shieimg{
    padding-top: 8rem !important;
  }

  .shieimg{
    padding-top: 8rem !important;
  }
.shiflex{
  flex-direction: column-reverse !important;
}
  .umlas{
    max-width: 300px;
    margin-inline: auto;
  }
  .umlastext{
    display: flex;
    flex-direction: column;
    h2{
      text-align: center !important;
      margin-inline: auto;
    }

    p{
      padding-top: 3rem !important;
      text-align: center !important;
      margin-inline: auto;
      height: 100% !important;
      width: 90% !important;
      font-size: 18px;
      line-height: 25px;
    }
    img{
      margin-inline: auto;
    }
  }
}